[Unit]
Description=Cubic Spacy Bot
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/cubic-spacy-bot/env
ExecStart=/usr/bin/cubic-spacy-bot -logNoTime

[Install]
WantedBy=multi-user.target
